@layout('layout/app')

@section('content')
  Profile
  {{ auth.user.name }}
@if(auth.user.email_veried_at === null)
  <form action="/verify-email" method="post">
    <input type="submit" value="Resend">
  </form>
  @endif
@endsection