<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Imagem</title>
</head>
    <body class="bg-gray-100">
        <div class="min-height-h-screen">
            @section('content')
            @endsection
        </div>
    </body>
</html>